---
import Layout from "../layouts/Layout.astro";
import DEVLOGO from "../assets/devsleague.svg";
import Card from "../layouts/Card.astro";
import "./global.css";
import { PruebasMarquee } from "../components/Pruebas";
import Concursantes from "../components/Concursantes.astro";
---

<Layout title="Welcome to Astro.">
  <main class="pb-20 max-w-4xl m-auto">
    <div class="flex items-center justify-center">
      <div class="inset-0 opacity-90 contrast-125">
        <img
          class="backdrop-blur"
          src={DEVLOGO.src}
          alt="descripción de la imagen"
        />;
      </div>
    </div>
    <div></div>
    <section class="grid grid-cols-6 gap-8 px-4 mx-auto gap-y-16 mt-12">
      <Card
        title="¿Qué es DevsLeague?"
        className="[grid-column:auto_/_span_6] md:[grid-column:auto_/_span_4]"
      >
        <h1 class="text-white text-4xl font-extrabold py-14 text-center">
          La competición de
          <br />
          <span
            class="text-transparent bg-gradient-to-r from-blue-200 to-blue-500 bg-clip-text"
            >Creadores de contenido</span
          ><br />
          <span
            class="text-transparent bg-gradient-to-r from-yellow-300 to-yellow-500 bg-clip-text"
            >programadores</span
          >
        </h1>
      </Card>

      <Card
        title="dónde verlo"
        className="[grid-column:auto_/_span_6] md:[grid-column:auto_/_span_2]"
      >
        <div>
          <a
            class="flex flex-col items-center justify-center w-full h-full transition hover:scale-125 group gap-y-10"
            target="_blank"
            href="https://twitch.tv/midudev"
            ><img
              alt="Avatar de Twitch del canal de midudev"
              class="absolute top-0 z-10 w-24 h-24 transition scale-0 rounded-full group-hover:scale-100"
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/5a72c3d9-424a-40a6-bf23-73370cd85578-profile_image-150x150.png"
            /><svg
              class="text-white transition w-32 group-hover:-rotate-6 group-hover:translate-y-4 group-hover:scale-[300%] group-hover:opacity-20 h-auto"
              width="454.93066"
              height="280.76587"
              viewBox="0 0 454.93066 280.76587"
              ><path
                d="m0 0-13.652-13.651h-21.445l-11.699-11.697v11.697h-17.548v56.544H0V0Zm-72.146 50.692-3.899-15.599v-70.19h17.55v-9.751h9.746l9.752 9.751h15.596L7.795-3.905v54.597h-79.941z"
                fill="currentColor"
                transform="matrix(1.3333333 0 0 -1.3333333 379.55105933 67.58932837)"
              ></path><path
                d="M377.167 655.053h7.799v23.401h-7.799v-23.401zm21.446 0h7.799v23.401h-7.799v-23.401z"
                transform="matrix(1.3333333 0 0 -1.3333333 -180.53426 935.79824)"
                fill="currentColor"></path><path
                d="m0 0-13.646 13.645h-25.35v17.55h-21.451v-79.94h21.451v40.947h17.545v-40.947H0V0Zm-68.241 13.645h-33.146L-115.036 0v-35.094l13.649-13.651h33.146V-27.3h-25.35v19.502h25.35v21.443zm-54.594 0h-17.545v17.55h-21.451v-66.289l13.649-13.651h25.347V-27.3h-17.545v19.502h17.545v21.443zm-46.795 17.55h-21.445v-9.752h21.445v9.752zm0-17.55h-21.445v-62.389h21.445v62.389zm-29.244 0h-21.447V-27.3h-7.797v40.945h-21.448V-27.3h-7.796v40.945h-21.451v-62.39h66.293l13.646 13.651v48.739zm-87.738 0h-17.546v17.55h-21.447v-66.289l13.648-13.651h25.345V-27.3h-17.546v19.502h17.546v21.443zM7.793 3.9v-58.491L-21.451-74.09h-19.496v9.752l-13.648-9.752H-72.14v9.752l-9.746-9.752h-31.197l-9.752 9.752-1.952-9.752h-27.292l-11.161 9.752-.625-9.752H-194.8l-1.094 9.752-8.374-9.752h-47.25l-9.75 3.9v-3.9h-25.344l-29.247 17.552-17.546 17.539v77.991h37.047l17.545-17.549h79.939v17.549h66.29V21.443h17.548v-9.746l9.752 9.746h19.493l17.55 17.549h37.044V21.443h21.448L7.793 3.9Z"
                fill="currentColor"
                transform="matrix(1.3333333 0 0 -1.3333333 444.53999104 181.97919218)"
              ></path></svg
            ><span
              class="__className_934b4d font-bold inline-flex animate-text-gradient bg-gradient-to-r from-[#b2a8fd] via-[#8678f9] to-[#c7d2fe] bg-[200%_auto] bg-clip-text text-xl text-transparent"
              >twitch.tv/midudev</span
            ></a
          >
        </div>
      </Card>

      <Card title="concursantes"
      className="[grid-column:auto_/_span_6] md:[grid-column:auto_/_span_4]">
        <Concursantes />
      </Card>
    </section>
  </main>
</Layout>

<style is:global>
  font-family: "Inter Tight", sans-serif;
  font-family: "Roboto", sans-serif;
</style>
