---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { title, rows } = Astro.props;
---

<article
  class=`[grid-column:auto_/_span_6] md:[grid-column:auto_/_span_${rows}] p-4`
>
  <h2 class="text-white text-sm font-bold __className_3eceea uppercase">
    <span>{title}</span>
  </h2>
  <div
    class="h-full flex flex-col items-center justify-center overflow-hidden rounded-3xl relative bg-gradient-to-b border-2 border-white/10 from-white/0 to-white/[0.05] before:absolute before:pointer-events-none before:select-none before:inset-0 before:p-[1px] before:rounded-[inherit] before:bg-gradient-to-b before:from-blue-900/10 before:to-blue-950/10 before:-z-10"
  >
    <h1
      class="text-white text-5xl text-center font-extrabold"
    >
      La competición de <br /><span
        class="text-transparent bg-gradient-to-r from-blue-200 to-blue-600 bg-clip-text"
        >creadores de contenido</span
      ><br /><span
        class="text-transparent bg-gradient-to-r from-yellow-200 to-yellow-300 bg-clip-text"
        >de programación.</span
      >
    </h1>
  </div>
</article>
