<header class="relative w-full mb-10 overflow-hidden">
  <span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 1%; animation-delay: 0.393441s; animation-duration: 2s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 78%; animation-delay: 0.691488s; animation-duration: 6s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 12%; animation-delay: 0.481506s; animation-duration: 8s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 75%; animation-delay: 0.406627s; animation-duration: 6s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 18%; animation-delay: 0.575194s; animation-duration: 8s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 51%; animation-delay: 0.566674s; animation-duration: 6s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 55%; animation-delay: 0.338738s; animation-duration: 4s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 73%; animation-delay: 0.44124s; animation-duration: 3s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 28%; animation-delay: 0.299097s; animation-duration: 5s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 54%; animation-delay: 0.779243s; animation-duration: 3s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 27%; animation-delay: 0.603042s; animation-duration: 8s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 61%; animation-delay: 0.74077s; animation-duration: 4s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 74%; animation-delay: 0.524025s; animation-duration: 8s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 21%; animation-delay: 0.310444s; animation-duration: 2s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 2%; animation-delay: 0.330575s; animation-duration: 6s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 89%; animation-delay: 0.676361s; animation-duration: 3s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 21%; animation-delay: 0.362027s; animation-duration: 5s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 43%; animation-delay: 0.615993s; animation-duration: 2s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 22%; animation-delay: 0.719148s; animation-duration: 3s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><span
    class="absolute top-1/2 left-1/2 h-0.5 w-0.5 rotate-[215deg] animate-meteor rounded-[9999px] bg-slate-500 shadow-[0_0_0_1px_#ffffff10] z-10"
    style="top: -5px; left: 89%; animation-delay: 0.432207s; animation-duration: 8s;"
    ><div
      style="position: absolute; top: 50%; transform: translateY(-50%); width: 50px; height: 1px; background: linear-gradient(90deg, rgb(100, 116, 139), transparent);"
    >
    </div></span
  ><div
    class="relative w-full h-14 p-2 flex items-center justify-center text-white !bg-cover !bg-center overflow-hidden"
    style="background:linear-gradient(to right, #020405 10%, #1D0B31 40%, #1B113B 50%, #122029 70%, #020405 90%)"
  >
    <div class="relative z-10 flex items-center justify-center">
      <div
        class="w-full flex gap-3 md:gap-6 items-center md:justify-center text-sm md:text-base !justify-center"
      >
        <p>
          <span class="hidden font-semibold text-yellow-300 md:inline"
            >Próxima</span
          >
          <span class="font-semibold text-yellow-300">GRAN FINAL</span>
        </p><div class="flex items-center gap-1">
          <div class="flex items-center gap-1">
            <div
              class="rounded-md p-[1px] overflow-hidden bg-gradient-to-b from-[#514b6130] to-[#514b6100]"
            >
              <div
                class="py-1 px-2 rounded-md w-11 leading-4 flex items-center justify-center bg-gradient-to-b from-[#51269c40] to-[#DBB8BF10] backdrop-blur-md"
              >
                <span class="m-0">0</span><span>d</span>
              </div>
            </div>:<div
              class="rounded-md p-[1px] overflow-hidden bg-gradient-to-b from-[#514b6130] to-[#514b6100]"
            >
              <div
                class="py-1 px-2 rounded-md w-11 leading-4 flex items-center justify-center bg-gradient-to-b from-[#51269c40] to-[#DBB8BF10] backdrop-blur-md"
              >
                <span class="m-0">0</span><span>h</span>
              </div>
            </div>:<div
              class="rounded-md p-[1px] overflow-hidden bg-gradient-to-b from-[#514b6130] to-[#514b6100]"
            >
              <div
                class="py-1 px-2 rounded-md w-11 leading-4 flex items-center justify-center bg-gradient-to-b from-[#51269c40] to-[#DBB8BF10] backdrop-blur-md"
              >
                <span class="m-0">0</span><span>m</span>
              </div>
            </div>:<div
              class="rounded-md p-[1px] overflow-hidden bg-gradient-to-b from-[#514b6130] to-[#514b6100]"
            >
              <div
                class="py-1 px-2 rounded-md w-11 leading-4 flex items-center justify-center bg-gradient-to-b from-[#51269c40] to-[#DBB8BF10] backdrop-blur-md"
              >
                <span class="m-0">0</span><span>s</span>
              </div>
            </div>
          </div>
        </div><div class="hidden md:block">
          <a
            href="#ticket"
            class="relative inline-flex h-8 overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50"
            ><span
              class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]"
            ></span><span
              class="inline-flex items-center justify-center w-full h-full px-3 py-1 text-sm font-medium text-white rounded-full cursor-pointer bg-slate-950 backdrop-blur-3xl"
              >Compartir Ticket</span
            ></a>
        </div>
      </div>
    </div>
  </div>
</header>
