---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    style="position:absolute;pointer-events:none;inset:0;background-image:radial-gradient(circle 300px at center, rgba(120,119,198,0.3), hsla(0, 0%, 0%, 0))"
  >
    <Header />
    <slot />
  </body>
</html>

<style>
  html {
    background-color: black;
  }
</style>
